/* сброс стилей браузера */
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 

* {
	box-sizing: border-box;
}

/* конец кода сброса стилей браузера */
 
/* стили для компьютеров и базовые стили для всех устройств  */
body {
  /* свойства тела страницы */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: rgb(241,235,157);
  background-image: linear-gradient(to right, rgb(241,235,157),rgb(122,184,205));
}



.container {
  clear: both;
  max-width: 900px;
  width: auto;
  margin: 0 auto;
  
}

.main {
	float: left;
	width: 70%; 
	font-size: 1.3rem;
	margin-top: 15px;
	line-height: 1.4em;
	margin-bottom: 20px;
}



.news .main {
	float: none;
	width: 100%;
}


.main figcaption {
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.main img {
	float: left;
	margin-right: 20px;
	max-width: 50%;
	margin-bottom: 10px;
	margin-top: 5px;
}

.main div {
	clear: both;
	margin-bottom: 10px;
	border-bottom: 1px dashed rgb(104,89,165);
	padding-bottom: 40px;
}

.main div:last-of-type {
	border: none;
}

.main div:nth-of-type(5) {
	padding-bottom: 120px;
}

.main time {
	font-style: italic;
	margin-left: 20%;
	font-size: 1rem;
}

.main ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.main h1 {
	font-weight: normal;
	font-size: 1.6rem;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	color: rgb(255, 114, 0);
}
.main .especial {
	color: rgb(255, 114, 0);
}



.main .label {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	text-align: right;
	margin-right: 15px;
}

.main input[type="text"], .main textarea {
	background-color: rgb(122,184,205);
	font-size: 1.2rem;
	border-radius: 5px;
}

.main input[type="text"]:focus, .main textarea:focus {
	background-color: rgb(241,235,157)
}

.main input[type="submit"] {
	padding: 10px 25px;
	font-size: 1.2rem;
	border-radius: 5px;
	box-shadow: 0 0 4px white;
}

.main table {
	font-size: 0.8rem;
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(101,72,71);
}




.sidebar {
	float: right;
	width: 25%;
	border-left: 1px dashed #999;
	text-align: center;
	background-color: white;
	font-size: 1rem;
	padding-top: 15px;
	line-height: 1.4em;
	margin-top: 25px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-bottom: 20px;
}

.sidebar figcaption {
	padding-top: 10px;
	padding-bottom: 10px;
}


.sidebar h2 {
	margin-bottom: 15px;
}

footer {
	clear: both;
	text-align: center;
	border-top: 1px solid black;
	background-color: rgb(226,179,197);
	background-image: linear-gradient(to right, rgb(250,218,221),rgb(226,179,197));
	font-size: 0.8rem;
}

.logo {

	position: relative;
}
.logo span {
	font-family: "Copperplate Light", "Copperplate Gothic Light", serif;
	font-size: 5rem;
	font-style: italic;
	text-shadow: 4px 4px 3px #999;
	float: right;
	position: absolute;
	right: 10%;
	top: 15%;
}

.clearfix:after {
	content: "";
    display: table;
    clear: both;
}

.wrapper {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: rgb(226,179,197);
	padding: 10px;
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	
}


nav li {
	float: left;
	width: 12em;
}



nav ul a {
	text-decoration: none;
	display: block;
	font-size: 1.1rem;
	border: 1px dashed #999;
	padding: 7px 5px;
	border-right: none;
	background-color: rgb(182,208,207);
	color: rgb(241,235,157);
}

nav ul a:last-of-type {
	border-right: 1px dashed #999;
}

.home .homeLink, .about .aboutLink, .shedule .sheduleLink,
.teachers .teachersLink, .news .newsLink, .contacts .contactsLink,
.classes .classesLink {
	background-color: rgb(104,89,165);
	color: yellow;
}

nav a:hover {
	background-color: rgb(241,235,157);
	color: rgb(182,208,207);
}





th, td {
	border: 1px solid black;
	padding: 3px 7px 2px 7px;

}

th {
	text-transform: uppercase;
	background-color: rgba(190,204,163, 0.5);
	
}

td {
	background-color: rgba(242,211,170, 0.5);
}

#time {
	width: 15%;
}

.subtitle {
	background-color: rgba(230,152,126, .5);
}






/* только для устройств со средним размером экрана */
@media (min-width: 481px) and (max-width:790px) {
  body {
    /* только для планшетов */
  }
  .logo span{
	font-size: 2.5rem;
	top: 30%;
	right: 5%;
  }
  
  .logo img {
	width: 50%;
  }
  
  .main {
	width: 90%;
	float: none;
	line-height: 1.2em;
	margin: 2% auto;
	
  }
  
  .main iframe {
	display: none;
  }
  
  .main input[type="text"], .main textarea {
	font-size: 1rem;
	border-radius: 5px;
	margin-bottom: 10px;
  }
  
  .main textarea {
	width: 70%;
  }

  .main input[type="submit"] {
	padding: 10px 25px;
	font-size: 0.9rem;
	border-radius: 5px;
	box-shadow: 0 0 4px white;
  }
  .main .label {
	display: inline-block;
	width: 15%;
	font-size: 1rem;
	vertical-align: top;
	text-align: right;
	margin-right: 15px;
  }
  
  .main table {
	font-size: 1rem;	
	display: block;
	overflow-x: auto;
  }
  
  .contacts .main {
	font-size: 0.9rem;
  }
  
  
	.sidebar {
		display: none;
	}
	
	footer {
		margin-top: 50%;
	}
	

	
	#time {
		width: auto;
	}
	
	nav ul a {
		font-size: 0.9rem;
	}
	


}
/* только для устройств с малым размером экрана */
@media (max-width:480px) {
  body {
    /* только для смартфонов */
  }
  
  	.sidebar {
		display: none;
	}
	
	.main {
		width: 100%;
		float: none;
		margin: 10 auto;
		line-height: 1.2rem;
		font-size: 1.1rem;
	}
	
  .main iframe {
	display: none;
  }
  
  .main input[type="text"], textarea {
	font-size: 0.8rem;
	border-radius: 5px;
	margin-bottom: 10px;
  }
  
  .main textarea {
	max-width: 60%;
  }

  .main input[type="submit"] {
	padding: 10px 25px;
	font-size: 0.8rem;
	border-radius: 5px;
	box-shadow: 0 0 4px white;
	
  }
  .main .label {
	display: inline-block;
	width: 15%;
	font-size: 0.8rem;
	vertical-align: top;
	text-align: right;
	margin-right: 40px;
  }
  
  .main h1 {
	font-size: 1.2rem;
  }
  
    .main table {
		font-size: 0.8rem;
		overflow-x: auto;
		display: block;
	}
  
  
  .contacts .main {
	font-size: 0.9rem;
  }
  
	
	.teachers .main, .news .main {
		font-size: 0.8rem;
	}
	
	.logo {
		position: relative;
	}
	.logo img {
		width: 40%;
	}
	
	.logo span {
		position: absolute;
		font-size: 1.7rem;
	}
	
	nav ul a{
		font-size: 0.9rem;
	
	}
	
	nav li {
		width: 10em;
	}

	


}

